.title {
  font-size: 3rem;
  font-family: 'Gemunu Libre', sans-serif;
  color: #7ed857;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1b20;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
